<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Add ToDo</title>
</head>
<body>

<form action="#" th:action="@{/todo/saveedited}" th:object="${todo}" method="post">
    <input type="hidden" name="id" th:value="${todo.id}"/>
    <textarea name="title" th:value="${todo.title}"/>[[${todo.title}]]</textarea>
    <input type="checkbox" th:field="${todo.urgent}"/>
    <input type="checkbox" th:field="${todo.done}"/>
    <input type="submit" value="Submit"/>
</form>

</body>
</html>