<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Add ToDo</title>
</head>
<body>

<form action="#" th:action="@{/todo/saveedited}" th:object="${todo}" method="post">
    <input type="hidden" name="id" th:value="${todo.id}"/>
    <p><textarea name="title" th:value="${todo.title}"/>[[${todo.title}]]</textarea></p>
    <p>Urgent<input type="checkbox" th:field="${todo.urgent}"/></p>
    <p>Done<input type="checkbox" th:field="${todo.done}"/></p>
    <p><input type="submit" value="Submit"/>

</form>
<a href="/todo/">Cancel</a>
</body>
</html>