<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
<a href="/todo/addtodo">Add new ToDo</a>
<h1>Todos for today:</h1>

<table>
    <tr>
        <th>ID</th>
        <th>ACTION</th>
        <th>URGENT</th>
        <th>DONE</th>
    <tr th:each="todo : ${todotasks}">
        <td th:text=" ${todo.id}"></td>
        <td th:text=" ${todo.title}"></td>
        <td th:text=" ${todo.urgent}"></td>
        <td th:text=" ${todo.done}"></td>
    </tr>
</table>


</body>
</html>