<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" \>
<head>
    <meta charset="UTF-8">
    <title>Color picker</title>
    <link rel="stylesheet" type="text/css" href="../style.css">
</head>
<body>
<div id="main">
    <form th:action="@{/setColor}" th:method="post">
        <input type="hidden" name="name" th:value="${name}"/>
        <h1>Select color:</h1>
        <input type="color" name="color">
        <p>
        <input id="submitbutton" type="submit" value="Submit">
    </form>
</div>

</body>
</html>