body {
  background-color: #EBEBEB;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
}

h1 {
  font-weight: normal;
  padding: 10% 0 0 15%;
  margin: 0px;
}
#box {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 450px;
  height: 380px;
  background-color: #fff;
  display:block;
  padding-bottom: 30px;
}
#box div {
  padding-left: 15%;
  padding-right: 15%;
  font-size: 12px;
  margin-top: 18px;
}

input {
  width: 100%;
  border-radius: 2px;
  border: 1px solid #c3c3c3;
  height: 40px;
  margin-top: 10px;
}

input[type="password"] {
  background: url(eye.png) no-repeat;
  background-size: 5%;
  background-position: 280px;
}

input:focus {
  outline: none !important; 
  border-color: green;
 }


 #box #pwRemind, #pwRemind a {  font-size: 2px;
   height: 20px;
   text-transform: none;
  text-align: right;
  font-size: 10px;
  color:black;
  text-decoration: none;
}

button, button a {
  font-size: 11px;
  background-color: #333333;
  text-transform: none;
  border: none;
  border-radius: 30px;
  width: 100px;
  height: 40px;
  color: #fff;
  font-weight: bold;
}